/* @font-face {
  font-family: 'roboto';
  font-weight: 700;
  src: local(woff), 
       local(woff2);
  src: url(../fonts/roboto-bold.woff2)format(woff2);
  src: url(../fonts/roboto-bold.woff)format(woff);
}

@font-face {
  font-family: 'roboto';
  font-weight: 400;
  src: local(woff2);
  src: url(../fonts/roboto-regular.woff2);
}

@font-face {
  font-family: 'roboto';
  font-weight: normal;
  src: local(woff2);
  src: url(../fonts/roboto-italic.woff2);
} */